<ion-view>
 <ion-nav-title>Inscription</ion-nav-title>
 <ion-content>
  	<div class="list login">
  	<img src="img/logo_agenda.png">
  	<form name="myForm" ng-submit="signin(user)" novalidate>
		<center><button class="button button-stable button-large icon ion-person-add" id="rond"></button></center>
		<br>
	    <label class="item item-input item-floating-label">
			<span class="input-label light">Nom d'utilisateur</span>
			<input type="text" placeholder="Nom d'utilisateur" ng-model="user.username"> 
		</label>
		<div id="datePick">
			<div id="infoDatePick">
				<h5 class="light">Date de naissance</h5>
				<span>{{datepick}}</span> 
			</div>
			<div id="iconDatePick">
				<i class="icon ion{{icon}}-calendar" ng-click="openPopoverenDatePicker()"></i>
			</div>
		</div>
		<label class="item item-input item-floating-label">
			<span class="input-label light">Adresse e-mail</span>
			<input type="email" placeholder="Adresse e-mail" ng-model="user.email"> 
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label light">Mot de passe</span>
			<input type="password" placeholder="Mot de passe" ng-model="user.password"> 
		</label> 
		<br>
		<p class="light"><strong>{{error}}</strong></p>
	    <button class="button button-balanced icon ion-android-checkmark-circle" type="submit">
		  confirmer
		</button>
	</form>
	</div>
 </ion-content>
</ion-view>