<ion-view>
	<ion-nav-title>Archives des tâches</ion-nav-title>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list ng-repeat="task in allArchive">
		    <ion-item class="item-remove-animate item-icon-right" id="list_icon" type="item-text-wrap">
		      <div id="icon_check">
		      	  <a class="ion-android-checkbox" id="big_icon"></a>
		      </div>
	          <div>
		          <h2><del>{{task.libelleTache}}</del></h2>
				  <h4><strong><i class="ion-ios-timer-outline" id="mini_icon"></i><del>{{task.dateLimit}}</del></strong></h4>
				  <h4><strong><i class="ion-android-list" id="mini_icon"></i><del>{{task.taskBox}}</del></strong></h4>
		      </div>
		      <a class="icon ion-chevron-right icon-accessory"  href="#/menu/taskDetailArchive/{{task.idTache}}/{{task.libelleTache}}/{{task.dateLimit}}/{{task.dateCreation}}/{{task.detail}}/{{task.idTaskBox}}/{{task.taskBox}}"></a>
		    </ion-item>
	    </ion-list>
	</ion-content>
</ion-view>