<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="ion-ios-arrow-left"></i> Retour</ion-nav-back-button>
      <ion-nav-buttons side="right">
        <a class="button button-clear icon ion-android-notifications" href="#/tab/login"><i class="badge badge-assertive" id="badgeflottant">0</i></a>
        <a class="button button-{{color}} button-large" id="rond2" ng-click = "openPopover($event)">{{initial}}</a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Tableau de Bord</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/menu/home/{{home.idTaskbox}}/{{home.nomTaskbox}}">
          <strong><span class="icon ion-home"></span> {{home.nomTaskbox}}</strong><span class="badge badge-assertive">{{home.nbtachenonfait}}</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#menu/semaine/1/{{home.idTaskbox}}">
          <strong><span class="icon ion-android-calendar"></span> Aujourd'hui</strong><span class="badge badge-assertive">{{nbrAujourdhui}}</span>
        </ion-item>
        <ion-item nav-clear menu-close  href="#menu/semaine/2/{{home.idTaskbox}}">
          <strong><span class="icon ion-calendar"></span> Semaine</strong><span class="badge badge-assertive">{{nbrSemaine}}</span>
        </ion-item>
        <div ng-repeat="taskbox in allTaskBox">
          <ion-item nav-clear menu-close>
            <a href="#menu/home/{{taskbox.idTaskbox}}/{{taskbox.nomTaskbox}}">
              <strong><span class="icon ion-android-list"></span> {{taskbox.nomTaskbox}}</strong><span class="badge badge-assertive">{{taskbox.nbtachenonfait}}</span>
            </a>
            <span class="positive icon ion-compose" id="edit_list" ng-click="openEditList($event,{{taskbox}})"></span>
          </ion-item>
        </div>
        <ion-item class="item-remove-animate" id="createTaskBox" type="item-text-wrap">
          <div>
              <a class="button button-positive ion-plus-round" ng-click="createBox(newBox)"></a>
          </div>
          <div id="inputTaskBox">
            <label class="item item-input">
              <input type="text" placeholder="Ajouter une liste" ng-model="newBox"> 
            </label> 
          </div>
        </ion-item>
          <ion-item nav-clear menu-close href="#/menu/archive">
            <strong><span class="icon ion-android-archive"></span> Archives des tâches</strong>
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

 <!--------------------------menu déroulant profil----------------------- -->
<script id = "popover.html" type = "text/ng-template">
   <ion-popover-view ng-controller="deconnexionController">
      <ion-list>
        <ion-item nav-clear href="#/menu/profil" ng-click="closePopover()">
          <strong><i class="icon ion-person"></i> Profil</strong>
        </ion-item>
        <ion-item nav-clear ng-click="logout(); closePopover()">
          <strong><i class="icon ion-log-out"></i> Déconnexion</strong>
        </ion-item>
      </ion-list>
   </ion-popover-view>
</script>
