<ion-view>
 <ion-nav-title>Profil</ion-nav-title>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>
  	<div class="row">
	  <div class="col"><center><img src="img/admin.jpg"></center></div>
	</div>
	<div class="row">
	  <div class="col"><center><strong>Admin</center></strong></div>
	</div>
	<div class="row">
	  <div class="col"><center>admin@gmail.com</center></div>
	</div>
	<center>
	  	<button class="button button-small button-dark icon ion-edit" type="submit">
		  modifier le profil
		</button>
	</center>
	<button class="button button-positive icon ion-plus-round create_task" id="rond2" ng-click="modal.show()"></button>
 </ion-content>
</ion-view>
