<ion-view>
 <ion-nav-title>Profil</ion-nav-title>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>
  	<div class="row">
	  <div class="col"><center><a class="button button-{{color}} button-large" id="rond3">{{initial}}</a></div>
	</div>
	<div class="row">
	  <div class="col"><center><strong>{{username}}</center></strong></div>
	</div>
	<div class="row">
	  <div class="col"><center><strong>{{usermail}}</strong></center></div>
	</div>
	<div class="row">
	  <div class="col"><center>date de naissance : {{userbirthday}}</center></div>
	</div>
	<div class="row">
	  <div class="col"><center>date d'inscription : {{usersignin}}</center></div>
	</div>
 </ion-content>
</ion-view>
